body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0E192D;
  margin: 0;
}


#calculator {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: 100px repeat(5, 80px); 
  gap: 10px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
}


#result {
  grid-column: span 4;
  height: 50px; 
  font-size: 48px;
  text-align: right;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}


button {
  font-size: 24px;
  background-color: #666;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.zero {
  border-radius: 50px;
  text-align: start;
  padding-left: 30px;
}


button.operator {
  background-color: #f90;
  color: white;
}


button.zero {
  grid-column: span 2;
}


button:hover {
  background-color: #888;
}

button.operator:hover {
  background-color: #ffb84d;
}
